ul.nav.nav-pills(style='margin-bottom:0;')
	li.dropdown 
		a.dropdown-toggle(data-toggle='dropdown',role='button',href='#') Action
			b.caret
		ul.dropdown-menu(aria-labelledby='drop1',role='menu')
			li(role='presentation')
				a(tabindex='-1',role='menuitem') Delete
			li(role='presentation')
				a(tabindex='-1',role='menuitem') Update	
			li.divider(role='presentation')		
			li(role='presentation')
				a(tabindex='-1',role='menuitem') Add Check Payment
			li(role='presentation')
				a(tabindex='-1',role='menuitem') Add Credit Payment