#middleContent(style='background-color: #fff;padding: 0px;border:none;width:95%;')	
	#leftContent1(style='border:none;width:25%;float:left;height:700px;')
		#content1
			.middle-sub-content-small(style='height:250px;padding:5px;')
				h5(style='border:1px solid #CDCDD1;margin:0px 0 10px 0;padding:5px;background-color:#D4D4D6;text-align:center;') Information on Credit Charges
				#text1(style='padding:5px;')
					|Using your Web Point of Sale System, you can capture a credit card using a swiper device!
					br
					br
					|The snippet of code below can be copied and pasted into your code and magic will happen and 
					unicorns will sing from the hills.
					br
					br
					h5(style='font-size:12px;') Try it and get your unicorn magic today!
		#content2
			.middle-sub-content-small(style='height:250px;padding:5px;')
				h5(style='border:1px solid #CDCDD1;margin:0px 0 10px 0;padding:5px;background-color:#D4D4D6;text-align:center;') Code Snippet
				#text1(style='padding:5px;')
					| var a = 1;
					br
					| var b = 2;
					br
					| var object = {};
					br
					| EasyIntegrator.processTransaction();
	#rightContent1(style='border:none;width:73%;float:left;height:700px;')
		.middle-sub-content-small(style='height: 650px;padding:5px;')
			h5(style='border:1px solid #CDCDD1;margin:0px 0 10px 0;padding:5px;background-color:#D4D4D6;text-align:center;') Credit Charge Demo	
			#steps(style='padding: 10px 0 0 0;')
				#step1(style='float:left;width: 30%;margin:5px;padding:5px;border:1px solid #CDCDD1;height:575px;')
					b Step 1:&nbsp;
					| Enter Settings
				#step2(style='float:left;width: 30%;margin:5px;padding:5px;border:1px solid #CDCDD1;height:575px;')
					b Step 2:&nbsp;
					| Initiate Transaction
				#step3(style='float:left;width: 30%;margin:5px;padding:5px;border:1px solid #CDCDD1;height:575px;')
					b Step 3:&nbsp;
					| Save Results and Print Receipt	