#middleContent
	.content
		h4 Introducting EasyIntegrator ChargeItProWeb API
		.sub-content
			|Payment Processing Partners, Inc. is offering a Web Based Point of Sale solution that allows 
			|devlopers to easily integrate Point Of Sale hardware into their new or existing Web Based solutions. 
			br
			br
			|The solution exists of 2 parts, a Windows Client Application that allows your Web Based POS to
			|communicate with locally configured hardware and a JavaScript API that you integrate into your 
			|custom developed Web POS.
			br
			br
			|[Intro Language]
		h4(id='prerequisites') Prerequisites
		.sub-content
			|To get started using Easy Integrator.
			br
			br
			a(href='https://ppppublic.blob.core.windows.net/webpos/ChargeItProWebPOS.zip') Download 
			|and install our Windows Client.
			br
			br
			|Our Windows Client Software allows your Web Site to communicate with Hardware Devices to capture payment information and signatures. 
			br
			br
			|[Put Emulator Description/Screen Shots here]
		h4(id='setup') How To Setup Workstations
		.sub-content
			|[Example Setup Screen Goes Here]
		h4(id='payments') How To Process Payments
			h6(style='margin-left:5px;') Your Shopping Cart	
			table.table.table-striped.table-hover
				thead
					th.items Items
					th.description
					th.align-right Quantity
					th.align-right Price
				tr
					td 
						img(src='http://ecx.images-amazon.com/images/I/51dT6WsSvuL._SL500_PIsitb-sticker-arrow-big,TopRight,35,-73_OU01_SS100_.jpg')
					td.description 
						h5 Restful Web Services, 
							span(style='font-weight: normal;') Joe Author
						h7 In stock on September 6, 2013 
						p "Every developer working with the Web needs to read this book." -- David Heinemeier Hansson, creator of the Rails framework
					td.align-right 
						input(type="text", value='1').input-tiny
					td.align-right $24.99
				tr
					td 
						img(src='http://ecx.images-amazon.com/images/I/51ZEACyjLtL._SL500_PIsitb-sticker-arrow-big,TopRight,35,-73_OU01_SS100_.jpg')
					td.description
						h5 MongoDB: The Definitive Guide, 
							span(style='font-weight: normal;') Joe Author
						p Manage the huMONGOus amount of data collected through your web application with MongoDB.  
							This authoritative introduction—written by a core contributor to the project—shows you the many advantages of using document-oriented databases,
					td.align-right 
						input(type="text", value='1').input-tiny
					td.align-right $74.98		
				tfoot
					tr(style='font-weight:bold;')
						td.align-right(colspan='3') Total
						td.align-right $74.98
			#checkout(style='text-align: right;padding: 0 10px 0 0;') 
				img(id='loader',src='http://www.livebinders.com/images/icons/ajax-loader-1.gif', style='width:20px;padding:0 10px 0 0;', class='hidden')
				button#processTransaction.btn.btn-primary Process Transaction
			.code-container
				.code-description 
					h5 Description
					.code-description-inner
						|To use Easy Integrator to process a payment transaction, create a JSON object 
						and pass it into EasyIntegrator.processTransaction.
				.code-example 
					h5 Code Example
					pre.prettyprint.linenums
						ol.linenums
							li.L0
								span.code var request = {
							li.L1
								span.code.tab1 "merchantName": "BobsRibs1",	
							li.L2
								span.code.tab1 "merchantKey": "A3gziLB98002",
							li.L3
								span.code.tab1 "configurationId": "198e84701abc28da",
							li.L4
								span.code.tab1 "transactionType": "CreditSale",
							li.L5
								span.code.tab1 "transFields": { 
							li.L6
								span.code.tab2 "amountTotal": 74.98 
							li.L7
								span.code.tab1 }
							li.L8
								span.code };
							li.L9
							li.L10
								span.code EasyIntegrator.processTransaction(request)	
							li.L11
								span.code.tab1 .success(function (resultsFields) {
							li.L12
								span.code.tab2 var transactionId = resultsFields.uniqueTransId;
							li.L13
								span.code.tab1  })
							li.L14
								span.code.tab1 .error(function (errorMessage) {
							li.L15
								span.code.tab2 alert(errorMessage);	
							li.L16
								span.code.tab1 })
							li.L17
								span.code.tab1 .done(function () {
							li.L18
								span.code.tab1 });

		h4(id='customers') How To Process Customer Transactions
		.sub-content(ng-controller='CustomerController')
			table.table.table-hover
				thead
					th(style='width:100px;') Cust Ref
					th(style='width:125px;') First Name
					th(style='width:125px;') LastName
					th(style='width:150px;') Email
					th(style='width:125px;') Phone
					th(style='width:50px;') Zip
					th(style='width:150px;') Last Transaction
				tr(ng-repeat='customer in customers')
					td {{customer.customerRef}}
					td {{customer.firstName}}
					td {{customer.lastName}} 
					td 
						a {{customer.email}}
					td {{customer.phone}}
					td {{customer.zip}}
					td
						i {{customer.lastTransaction}}
					td!= partial('partials/customer_actions')
				tfoot
					td(colspan='8',style='padding-top:25px;') 
						a(id='addCustomerButton') 
							i(class='icon-plus')
							span(style='font-size:12px;margin-left:10px;font-weight:bold;') Add Customer	

			!= partial('partials/add_customer')				

//Modal Receipt
!= partial('partials/receipt')

#rightContent
	ul
		li 
			a(onclick='goToTop();') Home
		li 
			a(onclick='goTo($("#prerequisites"));') Prerequisites
		li 
			a(onclick='goTo($("#setup"));') Setup	
		li 
			a(onclick='goTo($("#payments"));') Payments
		li 
			a(onclick='goTo($("#customers"));') Customers							

