#middleContent
	.middle-sub-content-small
		a#popover0.popover-button(href='#', onclick='return false;', title='',data-placement='right', data-toggle='popover')
			[Category]
		.middle-sub-sub-content-small
			|Please select your type of business:
			select(name='category')
				option(value='', selected='true') -- Category --
				option(value='Commercial Business') Commercial Business
				option(value='Business to Business') Business to Business
			button#startTour.btn.btn-primary Start Tour
	.middle-sub-content
		a#popover1.popover-button(href='#', onclick='return false;', title='',data-placement='right', data-toggle='popover')
			[Prerequisites]
		.middle-sub-sub-content
			[Sub Content 1]
	.middle-sub-content
		a#popover2.popover-button(href='#', onclick='return false;', title='',data-placement='right', data-toggle='popover')
			|How to Setup Workstations
		.middle-sub-sub-content
			[Example Setup Screen Goes Here]
	.middle-sub-content
		a#popover3.popover-button(href='#', onclick='return false;', title='',data-placement='right', data-toggle='popover')
			|How to Process Payments
		.middle-sub-sub-content
			h4 Your Shopping Cart	
			table.table.table-striped.table-hover
				thead
					th.items Items
					th.description
					th.align-right Quantity
					th.align-right Price
				tr
					td 
						img(src='http://ecx.images-amazon.com/images/I/51dT6WsSvuL._SL500_PIsitb-sticker-arrow-big,TopRight,35,-73_OU01_SS100_.jpg')
					td.description 
						h5 Restful Web Services, 
							span(style='font-weight: normal;') Joe Author
						h7 In stock on September 6, 2013 
						p "Every developer working with the Web needs to read this book." -- David Heinemeier Hansson, creator of the Rails framework
					td.align-right 
						input(type="text", value='1').input-tiny
					td.align-right $24.99
				tr
					td 
						img(src='http://ecx.images-amazon.com/images/I/51ZEACyjLtL._SL500_PIsitb-sticker-arrow-big,TopRight,35,-73_OU01_SS100_.jpg')
					td.description
						h5 MongoDB: The Definitive Guide, 
							span(style='font-weight: normal;') Joe Author
						p Manage the huMONGOus amount of data collected through your web application with MongoDB.  
							This authoritative introduction—written by a core contributor to the project—shows you the many advantages of using document-oriented databases,
					td.align-right 
						input(type="text", value='1').input-tiny
					td.align-right $74.98		
				tfoot
					tr(style='font-weight:bold;')
						td.align-right(colspan='3') Total
						td.align-right $74.98
			#checkout(style='text-align: right;padding: 0 10px 0 0;') 
				button#pay.btn.btn-primary Pay
			#paymentCode
				.code-description 
					h5 Description
					.code-description-inner
						|To use Easy Integrator to process a payment transaction, create a JSON object 
						and pass it into EasyIntegrator.processTransaction.
				.code-example 
					h5 Code Example
					.code-example-inner
						|//Create JSON object to pass to EasyIntegrator.
						.snippet
							|var request = {
							.s1 "merchantName": "...",
							.s1 "merchantKey": "...",
							.s1 "configurationId": "...",
							.s1 "transactionType": "CreditSale",
							.s1 "transFields": { 
							.s2 "amountTotal": "74.98" 
							.s1 }
							|}
						br
						|//Pass request JSON object to the EasyIntegrator processTransaction method.
						.snippet
							|EasyIntegrator.processTransaction(request)	
							.s1 .success(function (resultsFields) {	
							.s2 var transactionId = resultsFields.uniqueTransId;
							.s1 })
							.s1 .error(function (errorMessage) {
							.s2 alert(errorMessage);
							.s1 })
							.s1 .done(function () {
							.s1 });
	.middle-sub-content
		a#popover4.popover-button(href='#', onclick='return false;', title='',data-placement='right', data-toggle='popover')
			|How to Manage Customer Payment Options
		.middle-sub-sub-content
			[Example Customer Management Interface goes here]							
#rightContent
	ul
		li 
			a(onclick='goTo($("#popover1"));') Prerequisites
		li 
			a(onclick='goTo($("#popover2"));') Setup	
		li 
			a(onclick='goTo($("#popover3"));') Payments
		li 
			a(onclick='goTo($("#popover4"));') Customers							

