#middleContent
	.content
		h4 Introducting EasyIntegrator ChargeItProWeb API
		.sub-content
			|Payment Processing Partners, Inc. is offering a Web Based Point of Sale solution that allows 
			|devlopers to easily integrate Point Of Sale hardware into their new or existing Web Based solutions. 
			br
			br
			|The solution exists of 2 parts, a Windows Client Application that allows your Web Based POS to
			|communicate with locally configured hardware and a JavaScript API that you integrate into your 
			|custom developed Web POS.
			br
			|[Intro Language]
		h4(id='prerequisites') Prerequisites
		.sub-content
			|To get started using Easy Integrator.
			br
			br
			a(href='https://ppppublic.blob.core.windows.net/webpos/ChargeItProWebPOS.zip') Download 
			|and install our Windows Client.
			br
			br
			|Our Windows Client Software allows your Web Site to communicate with Hardware Devices to capture payment information and signatures. 
		h4(id='setup') How To Setup Workstations
		.sub-content
			|[Example Setup Screen Goes Here]
		h4(id='payments') How To Process Payments
			h6(style='margin-left:5px;') Your Shopping Cart	
			table.table.table-striped.table-hover
				thead
					th.items Items
					th.description
					th.align-right Quantity
					th.align-right Price
				tr
					td 
						img(src='http://ecx.images-amazon.com/images/I/51dT6WsSvuL._SL500_PIsitb-sticker-arrow-big,TopRight,35,-73_OU01_SS100_.jpg')
					td.description 
						h5 Restful Web Services, 
							span(style='font-weight: normal;') Joe Author
						h7 In stock on September 6, 2013 
						p "Every developer working with the Web needs to read this book." -- David Heinemeier Hansson, creator of the Rails framework
					td.align-right 
						input(type="text", value='1').input-tiny
					td.align-right $24.99
				tr
					td 
						img(src='http://ecx.images-amazon.com/images/I/51ZEACyjLtL._SL500_PIsitb-sticker-arrow-big,TopRight,35,-73_OU01_SS100_.jpg')
					td.description
						h5 MongoDB: The Definitive Guide, 
							span(style='font-weight: normal;') Joe Author
						p Manage the huMONGOus amount of data collected through your web application with MongoDB.  
							This authoritative introduction—written by a core contributor to the project—shows you the many advantages of using document-oriented databases,
					td.align-right 
						input(type="text", value='1').input-tiny
					td.align-right $74.98		
				tfoot
					tr(style='font-weight:bold;')
						td.align-right(colspan='3') Total
						td.align-right $74.98
			#checkout(style='text-align: right;padding: 0 10px 0 0;') 
				button#processTransaction.btn.btn-primary Process Transaction
			.code-container
				.code-description 
					h5 Description
					.code-description-inner
						|To use Easy Integrator to process a payment transaction, create a JSON object 
						and pass it into EasyIntegrator.processTransaction.
				.code-example 
					h5 Code Example
					.code-example-inner
						|//Create JSON object to pass to EasyIntegrator.
						.snippet
							|var request = {
							.s1 "merchantName": "...",
							.s1 "merchantKey": "...",
							.s1 "configurationId": "...",
							.s1 "transactionType": "CreditSale",
							.s1 "transFields": { 
							.s2 "amountTotal": "74.98" 
							.s1 }
							|}
						br
						|//Pass request JSON object to the EasyIntegrator processTransaction method.
						.snippet
							|EasyIntegrator.processTransaction(request)	
							.s1 .success(function (resultsFields) {	
							.s2 var transactionId = resultsFields.uniqueTransId;
							.s1 })
							.s1 .error(function (errorMessage) {
							.s2 alert(errorMessage);
							.s1 })
							.s1 .done(function () {
							.s1 });		
		h4(id='customers') Customer Transactions
		.sub-content
			|[Example Customer Admin Screen Goes Here]

		#receipt(class='modal hide fade',tabindex='-1', role='dialog', aria-hidden='true', style='width: 425px;')
			.modal-header(style='height:30px;')
				button(type='button', class='close', data-dismiss='modal') X
				b Receipt
			.modal-body
				#receiptInner(style='border:1px solid gray;padding:10px;margin-bottom:10px;width:90%;')
					span(style='font-weight:bold;color:#5C5C5E;') Acme Merchantile
					br
					|101 Some Street
					br
					|Anytown, US 91234
					br
					|(888) 555-5555
					br
					span(style='font-size: 11px;') September 12, 2013 12:45 pm
					br
					br
					|Ref #:	
					span(id='uniqueTransId') 4180caf235bf4684a4e880a28225178b
					br
					|Cashier: John
					br
					|Reg #: 005
					table(style='margin-top: 20px;width: 100%;')
						tr
							td Restful Web Services
							td(style='text-align: right;') $24.99
						tr
							td MongoDB: The Definitive Guide
							td(style='text-align: right;') $74.98
						tr
							td(style='text-align: right;padding-top: 15px;') SubTotal
							td(style='text-align: right;padding-top: 15px;') $99.98
						tr
							td(style='text-align: right;') Sales Tax (8%)
							td(style='text-align: right;') $7.99
						tr
							td(style='text-align: right;font-weight:bold;') Total
							td(style='text-align: right;font-weight:bold;') $107.97
						tr
							td(style='padding-top: 15px;') Credit Sale ****9016
							td(style='text-align: right;padding-top: 15px;') $20.00
						tr
							td Auth Code 012345
							td
						tr
							td(style='text-align: right;') Cash
							td(style='text-align: right;') $100.00
						tr
							td(style='text-align: right;') Change Due
							td(style='text-align: right;') $0.00
					div(style='text-align:center;margin:20px 0 20px 0;')
						|I Agree to pay the above 
						br
						|total amount according 
						br
						|to card issuer agreement
					div(style='border-bottom:1px solid black;width:80%;margin:0 auto;text-align:left;')
						div(style='position:relative;top:20px;')
							img(id='signature',src='',alt='',style='width:200px;padding:0 0 0 20px;')
							div(style='position:relative;top:-20px') X
					div(style='text-align:center;margin:20px 0 20px 0;').
						No refunds after 302 days

#rightContent
	ul
		li 
			a(onclick='goTo($("#prerequisites"));') Prerequisites
		li 
			a(onclick='goTo($("#setup"));') Setup	
		li 
			a(onclick='goTo($("#payments"));') Payments
		li 
			a(onclick='goTo($("#customers"));') Customers							

