!!!
html(ng-app)
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/style.css')
		link(rel='stylesheet', href='http://getbootstrap.com/2.3.2/assets/css/bootstrap.css')
		script(src='http://ajax.googleapis.com/ajax/libs/angularjs/1.0.3/angular.js')
		script(src='http://code.jquery.com/jquery-latest.min.js')
		script(src='/javascripts/my_app.js')
		script(src='http://getbootstrap.com/2.3.2/assets/js/bootstrap.js')

	body
		#container
			header
				#headerWrapper
					strong
						img(src='http://www.chargeitpro.com/_media/chargeitpro_logo.gif')
					#headerInnerRight

			#contentWrapper!= body													
			a#top.hidden(href='')
				i.icon-arrow-up.icon-white
		footer 
			.sub-footer
				a.footer-link(href='#') [Footer Link]
				a.footer-link(href='#') [Footer Link]
			.gradient-line
			.sub-footer
				a.footer-link(href='#') [Footer Link]
			div
				span#copyright.footer-link 
					a(href='#') Terms of Use - 
					a(href='#') Privacy Policy 
					br
					&nbsp;&nbsp;&copy; My Company, Inc. All Rights Reserved