!!!
html(ng-app)
	head
		title= title
		link(rel='stylesheet', href='http://getbootstrap.com/2.3.2/assets/css/bootstrap.css')
		link(rel='stylesheet', href='/stylesheets/style.css')
		script(src='http://code.jquery.com/jquery-latest.min.js')
		script(src='https://ppppublic.blob.core.windows.net/webpos/EasyIntegrator-1.0.0.js')
		script(src='/javascripts/my_app.js')
		script(src='/javascripts/angular_controllers.js')
		script(src='http://getbootstrap.com/2.3.2/assets/js/bootstrap.js')
		script(src='http://ajax.googleapis.com/ajax/libs/angularjs/1.0.3/angular.js')
	body
		#container
			header
				#headerWrapper
					strong
						img(src='http://www.chargeitpro.com/_media/chargeitpro_logo.gif')
					#headerInnerRight

			#contentWrapper!= body													
			a#top.hidden(onclick='goToTop();')
				i.icon-arrow-up.icon-white
		footer 
			.sub-footer
				a.footer-link(href='http://www.chargeitpro.com/', target='_new') ChargeItPro.com	
				a.footer-link(href='http://pppinc.github.io/ChargeItProWeb/', target='_new') EasyIntegrator WebAPI Documentation
			.gradient-line
			.sub-footer
			div#copyright
				|Copyright &copy 2012 Payment Processing Partners, Inc. All rights reserved.
				br
				|ChargeItPro and ChargeItPro EasyIntegrator are trademarks of Payment Processing Partners, Inc. Other trademarks, service marks, trade names, 
				br
				|and company logos referenced are the property of their respective owners. Payment Processing Partners, Inc. is a registered ISO/MSP of Wells Fargo 
				br
				|Bank, N.A., Walnut Creek, CA. American Express requires separate approval.
				br
				a(href='http://www.chargeitpro.com/terms.html', target='_new') Terms & Conditions&nbsp;|&nbsp;
				a(href='http://www.chargeitpro.com/privacy.html', target='_new') Privacy & Security 
				br
