body {
  color: #777777;
  font: 400 14px/1.6"Open Sans", sans-serif;
}

h4, h5 {
  color: #4A565E !important;
}

h7 {
  color: orange;
}

ul{
  list-style: none;
}

/*Table*/
th, tfoot > tr {
  color: #4D5A63;
}

a:hover {
  text-decoration: none !important;
}

select {
  vertical-align: top !important;
  margin: 0 10px 0 10px !important;
}

option {
  padding: 5px;
}

#container {
  min-height:100%;
  position:relative;
  align: center;
}

header {
  position: fixed;
  padding: 10px;
  border-width:1px;
  border-color: gray;
  width: 99%;
  margin-top:-50px;
  background: none repeat scroll 0 0 rgba(255, 255, 255, 0.9);
  color:black;
}

#headerWrapper {
  margin: 10px 0 0 130px;
  width: 75%;
}

#headerInnerRight {
  float: right;
  margin: 0 20px 0 0;
}

.nav-button {
  padding: 0 20px 0 20px;
}

.separator {
  border-right: 1px solid #CCCDCF;
}

footer {
  position:relative;
  clear: both;
  width:100%;
  height:120px;   
  background: none repeat scroll 0 0 #F0F0F0;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.15) inset;
  padding: 10px;
}

.sub-footer {
  margin:10px;
  text-align: center;
}

.footer-link {
    color: #999999;
    text-decoration: none;
    margin-right: 40px;
}

#copyright {
  margin:10px;
  text-align: left;
  font-size: x-small;
}

#contentWrapper {
  margin: 40px 0 0 100px;
  padding-left: 10px;
  min-height: 1450px;
  width: 91%;
  color: #7D7E80;
}

.left-sub-content, .middle-sub-content, .middle-sub-content-small, .right-sub-content{
  padding: 25px;
  margin: 25px;
}

#leftContent, #middleContent, #rightContent{
  float: left;
}

#leftContent {
  width: 20%;
}

#rightContent {
  width: 15%;
  font-size: 13px;
  height: 500px;
  margin: 0;
  padding: 0;
  position: fixed;
  right: 50px;
  text-align: right;
  top: 105px;
}

.left-sub-content, .middle-sub-content, .middle-sub-content-small, .right-sub-content {
  border: 1px solid #CCCDCF;
}

.middle-sub-content, .middle-sub-content-small {
  background-color: white;
  box-shadow: 5px 5px 2px #A6A2A2;
  border-radius: 3px;
}

.middle-sub-content {
  height: 750px;
}

.middle-sub-content-small {
  height: 150px;
}

.middle-sub-sub-content-small, .middle-sub-sub-content {
  border: 1px dotted #CACACC;
  color: #88888A;
  margin: 30px 0 10px 0;
  padding: 20px;
  height: 80%;
}

.middle-sub-sub-content {
  height: 85%;
}

.middle-sub-sub-content-small {
  height: 30%;
}

#middleContent {
  margin: 30px 0 20px 0;
  width: 85%;
  min-height: 750px;
  background-color: #E6E6E8;
}

.bottom-header {
  border-bottom: 1px solid #DDDDDD;
  box-shadow: 0 0 4px #EEEEEE;
}

#login {
  float: right;
}

.gradient-line {
    background-image: linear-gradient(to right, #F0F0F0, #DDDDDD 35%, #DDDDDD 65%, #F0F0F0);
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: 40% 1px;
    margin-top: -6px;
    padding-bottom: 14px;
    text-align: center;
}

#top {
  background: none repeat scroll 0 0 black;
  padding: 8px;
  opacity: 0.2;
  bottom: 25px;
  position: fixed;
  right: 15px;
  z-index: 1;
}

.hidden{
  visibility: hidden;
}

/* Popovers */
.popover {
  max-width: 600px !important;
  width: auto !important;
}

#popoverInnerContent {
  font-size: x-small;
  color: gray;
  padding: 10px 0 10px 0;
  margin: 0 0 10px 0;
  border-bottom: 1px solid #ACACAD;
}

#popoverFooter {
  width: 100%;
  text-align: right;
}

.popover-button {
  font-size: 1.2em;
  font-weight: bold;
}

/*Cart*/
th.items {
  width: 100px;
}

th.description {
  width: 700px;
}

.align-right {
  text-align: right !important;
}

.input-tiny {
  width: 20px;
}

/*Code*/
.code-description-inner, .code-example-inner {
  margin: 0;
  padding: 10px;
  border: 1px solid #C8CBCC;
  height:160px;
  border-radius: 5px;
}

.code-description {
  float: left;
  width:35%;
}

.code-example {
  float: right;
  width: 60%;
}

.code-example-inner {
  background: none repeat scroll 0 0 #F8F8F8;
  overflow-x: auto;
}

.snippet {
  color: #2E363B;
}

.s1 {
  margin: 0 0 0 50px;
}

.s2 {
  margin: 0 0 0 100px;
}